.cardPoke {
    width: 200px !important;
    height: 300px;
    transform-style: preserve-3d;
}

.magicpattern {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(-45 .5 .5)%22%3E%3Cstop offset=%220%25%22 stop-color=%22%2300DBDE%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23FC00FF%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M770 735.5Q653 971 431 841T170.5 472q-38.5-239 222-341T770 264.5q117 235.5 0 471Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M770 735.5Q653 971 431 841T170.5 472q-38.5-239 222-341T770 264.5q117 235.5 0 471Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}